<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<%= link_to 'Add Location', new_route_location_path %>

<div class="container-locations">
  <table cellpadding=20>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Address</th>
        <th>Lat</th>
        <th>Long</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.title %></td>
          <td><%= location.description %></td>
          <td><%= location.address %></td>
          <td><%= location.latitude.round(2) %></td>
          <td><%= location.longitude.round(2) %></td>
          <td><%= link_to 'Edit', edit_route_location_path(@route, location) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>




  <div
    id="map"
    style="width: 45%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>


<!--
Response
Headers:

None
x
>>  params
=> <ActionController::Parameters {"controller"=>"locations", "action"=>"index", "route_id"=>"1"} permitted: false>
>>    -->
